<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Learning</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class={{isHome}}><a href="/">Home</a></li>
            <li class={{isCourses}}><a href="/courses">Courses</a></li>
            <li class={{isAdd}}><a href="/add">Add course</a></li>
        </ul>
    </div>
</nav>
